<div class="datepicker">
  <div class="row">
    <button class="col col-10 button-clear icon-left ion-chevron-left" ng-click="prevMonth()"></button>
    <div class="col col-80 text-center">{{currentMonth}} &mdash; {{currentYear}}</div>
    <button class="col col-10 button-clear icon-right ion-chevron-right" ng-click="nextMonth()"></button>
  </div>
  <div class="calendar">
    <div class="row text-center">
      <div class="col" ng-repeat="dayInitial in dayInitials track by $index" style="font-weight: bold"> {{ dayInitial }}</div>
    </div>
    <div style="height: 180px;">
      <div class="row" ng-repeat="row in rows track by $index" style="text-align: center;">
        <div
          class="col"
          ng-repeat="col in cols track by $index"
          ng-class="{
            'day': (dayList[$parent.$index * numColumns + $index].day != undefined),
            'selected': (dayList[$parent.$index * numColumns + $index].dateString === selectedDateString && dayList[$parent.$index * numColumns + $index].day != undefined),
            'today' : (dayList[$parent.$index * numColumns + $index].date == today.date && dayList[$parent.$index * numColumns + $index].month == today.month && dayList[$parent.$index * numColumns + $index].year == today.year)
          }"
          ng-click="setDate(dayList[$parent.$index * numColumns + $index])">
            {{ dayList[$parent.$index * numColumns + $index].date }}
        </div>
      </div>
    </div>
  </div>
</div>
