/* Empty. Add your own CSS if you like */

.datepicker .day {
    padding: 5px;
    white-space: nowrap;
}
.datepicker .day:hover {
    background-color: rgba(56, 126, 245, 0.5);
    cursor: pointer;
}
.datepicker .day:active {
    background-color: rgba(56, 126, 245, 1);
    cursor: pointer;
}
.datepicker .selected {
    background-color: rgba(56, 126, 245, 1) !important;
}
.datepicker .today {
    background-color: rgba(186, 186, 186, 1);
}
